{% extends "layout.html" %}

{% block title %}
  Change Password
{% endblock %}

{% block main %}
    <form action="/changePassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="old password" name="oldpassword" placeholder="Old Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new password" name="newpassword" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm new password" name="newpasswordconfirmation" placeholder="Reconfirm new password" type="password" required>
        </di>
        <br>
        <button class="btn btn-primary" type="submit">Change</button>

    </form>
{% endblock %}